@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

<div class="panel panel-default panel-align">
    <div class="panel-heading" style="background-color: white">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Academic Record Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body" style="font-weight: 600">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Level
                    </td>
                    <td>
                        School Name
                    </td>
                    <td>
                        Start Year
                    </td>
                    <td>
                        End Year
                    </td>
                    <td>
                        Achievement(s)
                    </td>
                </tr>
            </thead>
            <tbody id="academicLevelTableRow">
                <tr>
                    <td>
                        <label class="control-label">
                            Elementary
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateJob, new { @class = "form-control" })
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="academicLevelBtn" class="pull-right">
            <button id="addAcademicLevelBtn" type="button" class="btn btn-success">
                Add Academic Level
            </button>
        </div>
    </div>
</div>