@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

<h2 class="register-sub-header"><strong>Agreement</strong></h2>

<div class="row child-form">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="checkbox">
                <label class="control-label">
                    <strong>With this I agree to join Accelist</strong>
                    <input type="checkbox" />
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <label>
            Upload your profile image
            <input type="file" />
        </label>
    </div>
</div>

<div class="list-inline pull-right">
    <button id="otherBtn" type="button" class="btn btn-default">
        Prev
    </button>
    <button id="submitBtn" type="submit" class="btn btn-primary">
        Submit
    </button>
</div>