<div class="col-md-2">
    <div id="formList" class="list-group">
        <button id="personalList" type="button" class="list-group-item">
            Personal Data
        </button>
        <button id="mainFamilyList" type="button" class="list-group-item">
            Main Family Data
        </button>
        <button id="biologicalFamilyList" type="button" class="list-group-item">
            Biological Family Data
        </button>
        <button id="workExpList" type="button" class="list-group-item">
            Working Experience Data
        </button>
        <button id="academicList" type="button" class="list-group-item">
            Academic Data
        </button>
        <button id="workshopList" type="button" class="list-group-item">
            Workshop/Sertificate Data
        </button>
        <button id="bankList" type="button" class="list-group-item">
            Permata Bank Data
        </button>
        <button id="otherList" type="button" class="list-group-item">
            Other Data
        </button>
        <button id="agreeList" type="button" class="list-group-item">
            Agreement
        </button>
    </div>
</div>