@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

<div class="panel panel-default panel-align">
    <div class="panel-heading" style="background-color: white">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Training Record Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body" style="font-weight: 600">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        No.
                    </td>
                    <td>
                        Training Name
                    </td>
                    <td>
                        Training Provider
                    </td>
                    <td>
                        Training Place
                    </td>
                    <td>
                        Year
                    </td>
                </tr>
            </thead>
            <tbody id="trainingTableRow">
                <tr id="emptyTrainingRow" class="empty-row">
                    <td colspan="5" style="text-align: center">
                        No Data Found
                    </td>
                </tr>
                @*<tr>
                    <td>
                        <label class="control-label">
                            1.
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                </tr>*@
            </tbody>
        </table>
        <div id="trainingBtn" class="pull-right">
            <button id="addTrainingBtn" type="button" class="btn btn-success">
                Add Training Certificate
            </button>
        </div>
    </div>
</div>