@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Training Record Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body" style="font-weight: 600">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        No.
                    </td>
                    <td>
                        Certificate Name
                    </td>
                    <td>
                        Training Title
                    </td>
                    <td>
                        Year
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="control-label">
                            1.
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button type="button" class="btn btn-success">
                Add Training Certificate
            </button>
        </div>
    </div>
</div>
@*<h2 class="register-sub-header"><strong>Workshop/Sertificate Data</strong></h2>

<div class="row child-form">
    <h3 id="workshop" class="col-sm-1 col-sm-offset-1">
        <strong>Workshop/Sertificate</strong>
    </h3>
    <div class="child-btn-group">
        <button id="addWorkshopBtn" type="button" class="col-sm-1 btn btn-success child-btn">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id="removeWorkshopBtn" type="button" class="col-sm-1 btn btn-danger child-btn">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>

<div id="workshopForm">
</div>

<div class="list-inline pull-right">
    <button id="academicBtn" type="button" class="btn btn-default">
        Prev
    </button>
    <button id="bankBtn" type="button" class="btn btn-default">
        Next
    </button>
</div>*@