@model Accelist.InformationSystem.Web.Engine.Models.ViewModels.RegisterModel

<div class="panel panel-default panel-align">
    <div class="panel-heading" style="background-color: white">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Working Experience Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body" style="font-weight: 600">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        No.
                    </td>
                    <td>
                        Company Name
                    </td>
                    <td>
                        Position
                    </td>
                    <td>
                        Experience
                    </td>
                    <td>
                        Start Year
                    </td>
                    <td>
                        End Year
                    </td>
                </tr>
            </thead>
            <tbody id="workExpTableRow">
                <tr id="emptyWorkExpRow">
                    <td colspan="6" style="text-align:center">
                        No Data Found
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="workExpBtn" class="pull-right">
            <button id="addWorkExpBtn" type="button" class="btn btn-success">
                Add Working Experience
            </button>
        </div>
    </div>
</div>