@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

<h2 class="register-sub-header"><strong>Workshop/Sertificate Data</strong></h2>

<div class="row child-form">
    <h3 id="workshop" class="col-sm-1 col-sm-offset-1">
        <strong>Workshop/Sertificate</strong>
    </h3>
    <div class="child-btn-group">
        <button id="addWorkshopBtn" type="button" class="col-sm-1 btn btn-success child-btn">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id="removeWorkshopBtn" type="button" class="col-sm-1 btn btn-danger child-btn">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>

<div id="workshopForm">
</div>

<div class="list-inline pull-right">
    <button id="academicBtn" type="button" class="btn btn-default">
        Prev
    </button>
    <button id="bankBtn" type="button" class="btn btn-default">
        Next
    </button>
</div>